* {
    --header_color: #ACD5DE;
    --text_color: rgb(26, 78, 141);
}

body {
    margin: 0;
}

header {
    color: var(--header_color);
    width: 100%;
    height: 2%;
    background-color: var(--header_color);
    margin: 0;
    font-family: poppins-semibold, poppins, sans-serif;
}

a {
    text-decoration: none;
    color: var(--text_color);
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

#links {
    padding-right: 20px;
}

#links li {
    display: inline-block;

}

#links li a {
    font-size: 15px;
    padding: 5px 20px;
}

#links li a:hover{
    color: white;
    background-color: var(--text_color);
    transition: 0.5s;
    border-radius: 80px;
}

#logo {
    display: flex;
    align-items: center;
}

#img-logo {
    max-height: 50px;
}