header{
    background-color: #ACD5DE;
    width: 100%;
    padding: 0px;
    padding-top: 5px;
}

#titulo1 {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;
    color: rgb(26, 78, 141)
}

#titulo2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(26, 78, 141)

}


#conteudo1 {
    font-size: 25px;
    text-align: justify;
    color: rgb(26, 78, 141)
}