@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,600;1,500&display=swap');


* {
    --header_color: #ACD5DE;
    --text_color: rgb(26, 78, 141);
}

/*Body */


body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ACD5DE;
}

h1 {
    color: #1A4E8D;
    text-shadow: 2px 2px 5px white;
    font-size: 100px;
    position: absolute;
    top: 8px;
    left: 16px;
}

h2,
h3 {
    color: #1A4E8D;
    font-size: 100px;
    text-align: center;

}

.flex-imagemDestaque {
    position: relative;
    display: flex;
    justify-content: center;
}

.flex-CachoroeGato {
    display: flex;
}

.flex-imagemDestaque .btn {
    position: absolute;
    top: 45%;
    left: 5%;
}


.flex-containerPets {
    display: flex;
    flex-direction: row;
    background-color: #ACD5DE;
    justify-content: center;
    align-items: baseline;
   
}


.flex-containerPets>div {
    display: flex;
    background-color: #ACD5DE;
    width: 350px;
    margin: 25px;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    color: #1A4E8D;
    font-family: Arial, Helvetica, sans-serif;

}
/*NOVOS PELUDOS*/

.novosPeludos{
    background-color: white;
}
.flex-containerPets > div {
    background-color: White;
}
.flex-containerPets {
    background-color: white;

}
.container-body-images{
    background-color: white;
}

.img1{
    margin-top: 20px;
    display: inline-block;
    margin-left: 60px;
    float: left;
    padding-right: 20px;
}
.img2{
    margin-top: 20px;
    display: inline-block;
    float: left;
    padding-right: 20px;
}
.img3{
    margin-top: 20px;
    display: inline-block;
    float: left;
    padding-right: 20px;
}
.img4{
    padding-top: 20px;
    padding-bottom: 30px;
}
.titleImg1,.titleImg2,.titleImg3,.titleImg4{
    display: inline-block;
    margin-left: 120px;
    padding-right: 65px;
    text-align: center;
    font-size: 15px;
    color: #1A4E8D;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.img5{
    padding-top: 40px;
    display: inline-block;
    margin-left: 60px;
    float: left;
    padding-right: 20px;
}
.img6{
    padding-top: 40px;
    display: inline-block;
    float: left;
    padding-right: 20px;
}
.img7{
    padding-top: 40px;
    display: inline-block;
    float: left;
    padding-right: 20px;
}
.img8{
    padding-top: 40px;
    padding-bottom: 30px;
}

section div {
    display: inline-block;
    width: calc(33% - 16px);
    background-color: white;
    vertical-align: top;
    margin: 8px;
    padding: 20px;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 10px;
}

section div p img {
    display: block;
    width: 35%;
    margin-bottom: 10px;
}

button,
input {
    all: unset;
    cursor: pointer;
    text-align: center;
    display: block;
    width: 20%;
    height: 20px;
    margin-right: 100px;
    margin-left: 80px;
    padding: 10px;
    padding-bottom: 25px;
    background-color: #1A4E8D;
    color: whitesmoke;
    border-radius: 50px;
    font-size: 28px;
    margin-bottom: 300px;
    font-family: Arial, Helvetica, sans-serif;
    position: 107.906 x 28793;
    margin: 0 auto;

}

button:hover {
    background-color: #1a4e8da4;
}

.iconUser {
    width: 20px;
    color: white;
}



.nossoInstagram{
    width: 100%;
    height: 1000px;
    margin: 0;
    background-color: #1A4E8D;
    border-radius: 0%;
}
h4{
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 85px;
    margin-left: 425px;
    padding-top: 40px;
}

.botaoSeguir button,input {

    all: unset;
    cursor: pointer;
    text-align: center;
    display: block;
    width: 200px;
    height: 20px;
    border-radius:600px;
    margin-right: 100px;
    margin-left: 80px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: white;
    color: #1A4E8D;
    font-size: 28px;
    margin-bottom: 300px;
    font-family: Arial, Helvetica, sans-serif;
    position: 107.906 x 28793;
    margin: 0 auto; 
}


.fotosInstagram{
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    justify-content: center;
    align-items: baseline;
   
}
.fotosInstagram >div {
    margin: 0%;
    padding: 60px;
    display: flex;
    background-color: transparent;
    width: 350px;
    text-align: center;
    line-height: 30px;
}



/*Footer*/

footer {
    width: auto;
    background-color: white;
}

.rodape {
    display: inline-block;
    margin-left: 130px;
    margin-bottom: 100px;
    padding: -20px;
    font-size: 25px;
}

.ContainerImg {
    margin-top: 50px;
    max-height: 40px;
    width: 40px;
    display: inline-block;
    margin-left: 350px;
    margin-bottom: 50px;
    height: 50px;
    margin: 0 auto;
}

.rodape:hover {
    background: none;
    font-size: 25px;
}

.endereco {
    margin-left: 0px;
    font-size: 25px;
}

#rodape2 {
    font-family: "Work Sans", serif;
    color: #1A4E8D;
    font-size: 25px;
    text-align: center;
}