header {
    font-size: 50px;
    color: #1A4E8D;
    font-size: 50px;
    background-color: rgb(91, 209, 215);

    /*Menu*/
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(91, 209, 215);
}

.main_menu {
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
    background-color: rgb(91, 209, 215);
}

ul.mainmenu {
    margin-top: 15px;
}

.main_menu li {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

.main_menu a {
    text-decoration: none;
    color: #1A4E8D;
    padding: 8px;
    font-variant: small-caps;
}

.main_menu a:hover {
    color: #1A4E8D;
}

h2,
h3,
h5 {
    color: #1A4E8D;
    font-size: 35px;
}

h1,
h4,
h6 {
    color: #1A4E8D;
    font-size: 100px;

}

#imagemDestaque {
    background-color: rgb(91, 209, 215);
    display: block;
    width: 100%;
}

section div {
    display: inline-block;
    width: calc(33% - 16px);
    background-color: white;
    vertical-align: top;
    margin: 8px;
    padding: 20px;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 10px;
}

section div p img {
    display: block;
    width: 35%;
    margin-bottom: 10px;
}

body {
    background-color: rgb(91, 209, 215);
}

li {
    color: #1A4E8D;
}

footer{
    width: auto;
    background-color: white;
}
.rodape{
    display: inline-block;
    margin-left: 130px;
    margin-bottom: 100px;
    padding: -20px;
}
.ContainerImg{
    margin-top: 50px;
    max-height: 40px;
    width: 40px;
    display: inline-block;
    margin-left: 350px;
    margin-bottom: 50px;
    height: 50px;
}
.rodape:hover{
    background: none;
}
.endereco{
    margin-left: 0px;
}